# Logs
logs
*.log
npm-debug.log*


# Compiled binary addons (http://nodejs.org/api/addons.html)
build/Release
build

# Dependency directories
node_modules/
jspm_packages/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm


# Output of 'npm pack'
*.tgz

# dotenv environment variables file
.env

# Ignore DS Store Files
**/.DS_Store
**/public/.DS_Store

#ignore vscode directory
.vscode

.gitignore