<!DOCTYPE html>


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="shortcut icon" href="/assets/favicon.ico">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> 
    <script type="text/javascript" src="./scripts/login.js"></script>
</head>
<body>
    <div class="container">
        <form class="form" id="login">
            <h1 class="form__title">[ Login ]</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <div class="form__input">
                    <input type="text" id="emailUsername" autofocus placeholder="Username or Email">
                    <i id= "eye" class="fas fa-user"></i>
                </div>
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <div class="form__input">
                    <input type="password" id="password" placeholder="Password">
                    <i id= "eye" class="fas fa-eye" onmouseover="showPassword()" onmouseout="showPassword()"></i>
                </div>
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit" value="Submit" id="submit">Sign In</button>
            <p class="form__text">
                <a href="#" class="form__link">Forgot your password?</a>
            </p>
            <p class="form__text">
                <a class="form__link" href="./" id="linkCreateAccount">Don't have an account? Create account</a>
            </p>
        </form>
        <form class="form form--hidden" id="createAccount">
            <h1 class="form__title">[ Create Account ]</h1>
            <div class="form__message form__message--error"></div>
            <div class="form__input-group">
                <input type="text" id="signupUsername" class="form__input" required autofocus placeholder="Username">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="email" id="signupEmail" class="form__input" required autofocus placeholder="Email Address">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" id="signupPassword" class="form__input" required autofocus placeholder="Password">
                <div class="form__input-error-message"></div>
            </div>
            <div class="form__input-group">
                <input type="password" id="passwordConfirm"class="form__input" required autofocus placeholder="Confirm password">
                <div class="form__input-error-message"></div>
            </div>
            <button class="form__button" type="submit">Sign Up</button>
            <p class="form__text">
                <a class="form__link" href="./" id="linkLogin">Already have an account? Sign in</a>
            </p>
        </form>
    </div>
    
</body>
<script>
    function showPassword() {
      var password = document.getElementById("password");
      var icon = document.getElementById("eye");
      if (password.type === "password") {password.type = "text", icon.className = "far fa-eye";} 
      else {password.type = "password", icon.className = "fas fa-eye";}
    }
  </script>